<div class="row">
  <div class="mainPadding">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">
          <span *ngIf="type !== 'New'">Edit </span>
          <span *ngIf="type === 'New'">Add New </span>
          Record for Studies Completed
        </h6>
      </div>
      <div class="panel-body">
        <div class="row">
          <form #completedStudies="ngForm" class="form-horizontal" role="form">
            <!-- <div class="form-group row">
                <div class="alert alert-success" *ngIf='message'>
                  <strong>Success!</strong> {{message}}
                </div>
                <div class="alert alert-danger" *ngIf='error'>
                  <strong>Danger!</strong> {{error}}
                </div>
              </div> -->
            <div class="form-group">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">
                  <label class="col-form-label">Study Number</label>
                  <input class="form-control" type="text" [(ngModel)]='ctdStudyNumber' name="ctdStudyNumber" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">
                  <label class="col-form-label">Study Name</label>
                  <input class="form-control" type="text" [(ngModel)]="ctdStudyName" name="ctdStudyName" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">
                  <label class="col-form-label">Clinical PK rep</label>
                  <input class="form-control" type="text" [(ngModel)]="ctdStudyConclusion" name="ctdStudyConclusion" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">
                  <label class="col-form-label">Clinical PK report</label>
                  <input class="form-control" type="text" [(ngModel)]="ctdClinicalPKrep" name="ctdClinicalPKrep" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">
                  <label class="col-form-label">Clin Pharm Rep</label>
                  <input class="form-control" type="text" [(ngModel)]="ctdClinPharmRep" name="ClinPharmRep" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-4">
                  <label class="col-form-label">Protocol Descrption</label>
                  <input class="form-control" type="text" [(ngModel)]="ctdProtocolDescrption"
                    name="ctdProtocolDescrption" />
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                  <label class="col-form-label">Protocol URL</label>
                  <input class="form-control" type="text" [(ngModel)]="ctdProtocolURL" name="ctdProtocolURL" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-4">
                  <label class="col-form-label">Clinical PK report Descrption
                  </label>
                  <input class="form-control" type="text" [(ngModel)]="ctdClinicalPKreportDescrption"
                    name="ctdClinicalPKreportDescrption" />
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                  <label class="col-form-label">Clinical PK report URL
                  </label>
                  <input class="form-control" type="text" [(ngModel)]="ctdClinicalPKreportURL"
                    name="ctdClinicalPKreportURL" />
                </div>
              </div>
            </div>
            <div class="form-group row divpadding">
              <div class="container pull-right">
                <button type="submit" class="btn btn-primary btnPadding" *ngIf='type === "New"'
                  (click)='postDatatocompletedStudies(completedStudies)' [disabled]="!completedStudies.valid">
                  <i class="fa fa-plus-circle" aria-hidden="true"> </i> Add New
                </button>
                <button type="submit" class="btn btn-primary btnPadding" *ngIf='type !== "New"'
                  (click)='editCompletedStudies(completedStudies)' [disabled]="!completedStudies.valid">
                  <i class="fa fa-pencil" aria-hidden="true"></i> Edit Record</button>
                <button type="button" class="btn btn-default" (click)='cancel()'>
                  <i class="fa fa-times" aria-hidden="true"> </i>Cancel
                </button>
                <!-- <button type="submit" class="btn btn-primary" (click)='submitClick(form)' *ngIf='Title == "Add New"'
                    [disabled]="!form.valid">Add New</button>
                  <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)='submitClick(form)'
                    *ngIf='Title == "Edit Record"' [disabled]="!form.valid">Update</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal"
                    (click)='cancelChange(form)'>Cancel</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
