<div class="mainPadding">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Edit Record</h6>
    </div>
    <div class="panel-body">
      <div class="row">
        <form #NCAandPBKB="ngForm" class="form-horizontal" role="form">
          <!-- <div class="form-group row">
                <div class="alert alert-success" *ngIf='message'>
                  <strong>Success!</strong> {{message}}
                </div>
                <div class="alert alert-danger" *ngIf='error'>
                  <strong>Danger!</strong> {{error}}
                </div>
              </div> -->
          <div class="container">
            <!-- ** linical Pharmacokinetics Information  Compound: 54828 (pemigatinib) Type of Analysis: NCA-->
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4>Clinical Pharmacokinetics Information - Type of Analysis: NCA</h4>
                <!-- <h5>Compound: 54828 (pemigatinib) Type of Analysis: NCA</h5> -->
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Study Number</label>
                      <input class="form-control" type="text" [(ngModel)]='ncaStudyNumber' name="ncaStudyNumber" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">Source</label>
                      <input class="form-control" type="text" [(ngModel)]='ncaSource' name="ncaSource" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Formal Analysis</label>
                      <input class="form-control" type="text" [(ngModel)]="ncaFormalAnalysis"
                        name="ncaFormalAnalysis" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">Secondary drug</label>
                      <input class="form-control" type="text" [(ngModel)]="ncaSecondarydrug" name="ncaSecondarydrug" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Study population</label>
                      <input class="form-control" type="text" [(ngModel)]="ncaStudypopulation"
                        name="ncaStudypopulation" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">Cmax</label>
                      <input class="form-control" type="text" [(ngModel)]="ncaCmax" name="ncaCmax" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Tmax</label>
                      <input class="form-control" type="text" [(ngModel)]="ncaTmax" name="ncaTmax" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">T1/2</label>
                      <input class="form-control" type="text" [(ngModel)]="ncaToneandhalf" name="ncaToneandhalf" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Cmin or Ctau</label>
                      <input class="form-control" type="text" [(ngModel)]="ncaCminorCtau" name="ncaCminorCtau" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">AUC0-t</label>
                      <input class="form-control" type="text" [(ngModel)]="ncaAUC0t" name="ncaAUC0t" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">AUC0-inf</label>
                      <input class="form-control" type="text" [(ngModel)]="ncaAUC0inf" name="ncaAUC0inf" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ** linical Pharmacokinetics Information  Compound: 54828 (pemigatinib) Type of Analysis: PBPK-->
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4>Clinical Pharmacokinetics Information - Type of Analysis: PBPK</h4>
                <!-- <h5>Compound: 54828 (pemigatinib) Type of Analysis: PBPK</h5> -->
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Study Number</label>
                      <input class="form-control" type="text" [(ngModel)]='pbpkStudyNumber' name="pbpkStudyNumber" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">Source</label>
                      <input class="form-control" type="text" [(ngModel)]='pbpkSource' name="pbpkSource" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Formal Analysis</label>
                      <input class="form-control" type="text" [(ngModel)]="pbpkFormalAnalysis"
                        name="pbpkFormalAnalysis" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">Secondary drug</label>
                      <input class="form-control" type="text" [(ngModel)]="pbpkSecondarydrug"
                        name="pbpkSecondarydrug" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Study population</label>
                      <input class="form-control" type="text" [(ngModel)]="pbpkStudypopulation"
                        name="pbpkStudypopulation" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">Cmax</label>
                      <input class="form-control" type="text" [(ngModel)]="pbpkCmax" name="pbpkCmax" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Tmax</label>
                      <input class="form-control" type="text" [(ngModel)]="pbpkTmax" name="pbpkTmax" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">T1/2</label>
                      <input class="form-control" type="text" [(ngModel)]="pbpkToneandhalf" name="pbpkToneandhalf" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Cmin or Ctau</label>
                      <input class="form-control" type="text" [(ngModel)]="pbpkCminorCtau" name="pbpkCminorCtau" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">AUC0-t</label>
                      <input class="form-control" type="text" [(ngModel)]="pbpkAUC0t" name="pbpkAUC0t" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">AUC0-inf</label>
                      <input class="form-control" type="text" [(ngModel)]="pbpkAUC0inf" name="pbpkAUC0inf" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ** linical Pharmacokinetics Information  Compound: 54828 (pemigatinib) Type of Analysis: Pop -PK-->
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4>Clinical Pharmacokinetics Information - Type of Analysis: Pop -PK</h4>
                <!-- <h5>Compound: 54828 (pemigatinib) Type of Analysis: Pop -PK</h5> -->
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Study Number</label>
                      <input class="form-control" type="text" [(ngModel)]='poppkStudyNumber' name="poppkStudyNumber" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">Source</label>
                      <input class="form-control" type="text" [(ngModel)]='poppkSource' name="poppkSource" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Formal Analysis</label>
                      <input class="form-control" type="text" [(ngModel)]="poppkFormalAnalysis"
                        name="poppkFormalAnalysis" />
                    </div>
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Secondary drug</label>
                      <input class="form-control" type="text" [(ngModel)]="poppkSecondarydrug"
                        name="poppkSecondarydrug" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Study population</label>
                      <input class="form-control" type="text" [(ngModel)]="poppkStudypopulation"
                        name="poppkStudypopulation" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">Cmax</label>
                      <input class="form-control" type="text" [(ngModel)]="poppkCmax" name="poppkCmax" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Tmax</label>
                      <input class="form-control" type="text" [(ngModel)]="poppkTmax" name="poppkTmax" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">T1/2</label>
                      <input class="form-control" type="text" [(ngModel)]="poppkToneandhalf" name="poppkToneandhalf" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">Cmin or Ctau</label>
                      <input class="form-control" type="text" [(ngModel)]="poppkCminorCtau" name="poppkCminorCtau" />
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">AUC0-t</label>
                      <input class="form-control" type="text" [(ngModel)]="poppkAUC0t" name="poppkAUC0t" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 algin">
                      <label class="col-form-label">AUC0-inf</label>
                      <input class="form-control" type="text" [(ngModel)]="poppkAUC0inf" name="poppkAUC0inf" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row divpadding">
              <div class="container pull-right">
                <button type="submit" class="btn btn-primary btnPadding" *ngIf='type === "New"'
                  (click)='posNCAandPBKB(NCAandPBKB)' [disabled]="!NCAandPBKB.valid">
                  <i class="fa fa-plus-circle" aria-hidden="true"> </i> Add New
                </button>
                <button type="submit" class="btn btn-primary btnPadding" *ngIf='type !== "New"'
                  (click)='editNCAandPBKB(NCAandPBKB)' [disabled]="!NCAandPBKB.valid">
                  <i class="fa fa-pencil" aria-hidden="true"></i> Edit Record</button>
                <button type="button" class="btn btn-default" (click)='cancel()'>
                  <i class="fa fa-times" aria-hidden="true"> </i>Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
