<div class="card card-outline-secondary">
  <div class="panel panel-primary">
    <div class="panel-body ">
      <form class="form-inline">
        <label class="mr-sm-3 col-form-label" for="compound">Compound:</label>
        <select class="form-control mr-sm-3" id="compound" [(ngModel)]='selectedCompound' name='compound'
          (change)='onprogramselectionChanged()'>
          <option value="-- Select Compound --">-- Select Compound --</option>
          <option *ngFor="let compound of cacadedCompound" [ngValue]="compound">{{ compound.Title }}
          </option>
        </select>
      </form>
    </div>
  </div>
</div>
